:root {
    --primary-color: rgb(35, 61, 77);
    --secondary-color: rgb(161, 193, 129);
    --background-color: rgb(54, 109, 77);
    --accent-color: rgb(252, 202, 70);

    --text-color: black;

    --body-font-family: "Cormorant Infant", serif;
    --heading-font-family: "Original Surfer", sans serif;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    font-family: var(--body-font-family);
    max-width: 320px;

}

h1,
h2,
h3 {
    font-family: var(--heading-font-family);
    color: var(--text-color);
}

/*---- Basic CSS for the header and footer ----*/

header,
footer {
    background-color: var(--background-color);
    color: var(--text-color);
    padding: .5rem;
}

.container {
    display: flex;
    font-size: 6.5vw;
    color: white;
    font-weight: bold;
}

.container div {
    padding-top: .5rem;
}

.logo {
    max-width: 50px;
    height: auto;
    margin-right: 1rem;
    margin-left: .5rem;
    margin-top: .25rem;
    background-color: white;
    align-content: center;
    border-radius: 5px;
}

.logo img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

#name {
    font-family: var(--heading-font-family);
    color: white;
    font-size: 8vw;
}

#menu {
    border: 0;
    background: none;
    position: absolute;
    right: 2vw;
    top: 1vw;
    font-size: 8vw;
}

#menu::before {
    content: "☰";
    color: white;
}

#menu.open::before {
    content: "ⓧ";
    color: white;
}

.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: var(--secondary-color);

}

.navigation a {
    display: block;
    color: var(--text-color);
    padding: 3px;
    text-decoration: none;
    text-align: center;
    transition: .5s;
    font-size: 7vw;
    
}

.navigation a:hover,
#reserve:hover {
    color: var(--primary-color);
    text-decoration: underline;
    font-weight: bolder;
    border-radius: 3px;
    background-color: var(--accent-color);
}

#animateMe {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
}

.navigation {
    overflow: hidden;
}

#animateMe.open {
    grid-template-rows: 1fr;
}

.active::before {
    content: "☀️Home";
    text-decoration: none;

}

/*--------- Basics for footer ---------*/

footer {
    border-radius: 5px 5px 0 0;
    color: white;
    font-weight: bold;
}

.leafyTreetopsLLC {
    font-size: 7vw;
}

.email a {
    color: white;
    text-decoration: underline;
}

.socialLinks {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: .5rem;
    justify-content: space-evenly;
}

.socialLinks a img {
    max-width: 30px;
    height: auto;
}

/*--------- body ---------*/
.customerReviews,
.weather,
.deals {
    margin: 1rem;
}

h1 {
    padding-bottom: .25rem;
    padding-left: .5rem;
    text-align: center;
    background-color: var(--secondary-color);
}

/*--------- hero ---------*/
main {
    background-color: white;
}

.hero {
    /* position: relative; */
    background-color: white;
    padding: .5rem;
    border-radius: 0 0 5px 5px;
    width: 100%;
    height: auto;
}

.hero img {
    display: block;
    position: relative;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    box-shadow: 0 2px 4px var(--primary-color);
    border-radius: 5px;
}

.heroInfo {
    position: absolute;
    margin: .5rem;
    top: 40vw;
    left: 0;
    height: auto;
    background-color: var(--secondary-color);
    opacity: .85;
}

.heroText h2 {
    border: none;
    color: var(--text-color);
    font-size: 7vw;
}

.heroInfo p {
    display: none;
}

.heroText {
    margin: .5rem;
    position: relative;
}

#reserve {
    display: block;
    position: absolute;
    bottom: 8px;
    right: 10px;
    background-color: var(--primary-color);
    color: var(--accent-color);
    font-size: 4.5vw;
    font-weight: bold;
    text-align: center;
    padding: .25rem;
    border-radius: 5px;
    text-decoration: none;
}



/* reserve:hover same as nav:hover */

/*--------- reviews and deals ---------*/

.customerReviews,
.deals {
    background-color: var(--secondary-color);
    border-radius: 5px;
    padding: 0;
}

.customerReviews h2,
.deals h2 {
    font-size: 7vw;
    text-align: center;
    background-color: var(--background-color);
    border-radius: 5px;
    padding: .5rem;
    color: white;
}


.review-card,
.currentDealCard,
.upcomingDealCard, .current,
#town,
.days, #reviews,
.dealsInfo  {
    font-size: 6vw;
    padding: .5rem;
}

.currentDealHeader,
.upcomingDealHeader {
    text-decoration: underline;
    font-style: italic;
}

/*--------- weather ---------*/
.weather {
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    padding: .5rem;
    text-align: center;
}

.weather h2 {
    background-color: var(--primary-color);
    color: var(--accent-color);
    padding: .5rem;
    border-radius: 5px;
    font-size: 7vw;
}


.current,
.days {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.forecast {
    margin-top: 1rem;
}

.daily,
.current {
    box-shadow: 0 1px 2px var(--primary-color);
    border-radius: 5px;
    margin: .5rem;
    padding: 1rem;

}






