/*---- Basic CSS for the directory page ----*/
:root {
    --primary-color: rgb(0, 48, 73);
    --secondary-color: rgb(247, 127, 0);
    --background-color: rgb(214, 40, 40);
    --accent-color: rgb(252, 191, 73);

    --text-color: black;

    --font-family: "Newsreader", serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    font-family: var(--font-family);
    max-width: 320px;
    color: var(--text-color);
}

/*---- Basic CSS for the header and footer ----*/

header,
footer {
    background-color: var(--background-color);
    color: var(--text-color);
    padding: .5rem;
}

.container {
    display: flex;
    /* flex-wrap: wrap; */
}

.container div {
    padding-top: .5rem;
}

.container p {
    font-size: 5vw;
}

.logo {
    max-width: 55px;
    height: auto;
    margin-right: 1rem;
}

#name {
    font-size: 8vw;
    font-style: italic;
}

#menu {
    font-size: 8vw;
    border: 0;
    background: none;
    position: absolute;
    right: 10px;
    top: 10px;
}

#menu::before {
    content: "☰";
    color: var(--text-color);
}

#menu.open::before {
    content: "✖️";
}

.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: var(--primary-color);
    border-bottom: 1px solid var(--background-color);
    border-radius: 0 0 5px 5px;
}

.navigation a {
    display: block;
    color: white;
    padding: 3px;
    text-decoration: none;
    text-align: center;
    transition: .5s;
    font-size: 5vw;
}

.navigation a:hover {
    color: var(--primary-color);
    background-color: white;
    text-decoration: underline;
    font-weight: bolder;
    border-radius: 3px;
}

#animateMe {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
}

.navigation {
    overflow: hidden;
}

#animateMe.open {
    grid-template-rows: 1fr;
}

.active::before {
    content: " › Home";
    text-decoration: underline;
    border: 1px solid var(--accent-color);
}


/*--------- Basics for footer ---------*/

footer {
    border-radius: 5px 5px 0 0;
}

.carlinCC {
    font-style: italic;
    font-size: 5vw;
}

.address,
.phone,
.email {
    font-size: 4vw;
}

.social p {
    display: none;
}

.socialLinks {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: .5rem;
    justify-content: space-evenly;
}

.socialLinks a img {
    max-width: 30px;
    height: auto;
}

.copywrite {
    font-size: 4vw;


}

/* --------------------------------media medium--------------------- */
@media screen and (min-width: 320px) {
    body {
        max-height: fit-content;
    }

    header {
        align-items: center;
    }

    #menu {
        display: none;
    }

    .navigation {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .navigation li {
        display: block;
    }

    #animateMe {
        grid-template-rows: 1fr;
    }
}

/* --------------------------------media large----------------------- */
/* @media screen and (min-width: 600px) {

} */